* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  background: var(--color-background-tertiary);
  color: var(--color-text-body);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
